export(diagnostics)
export(PEMGUI)
export(plotDiag)
export(rrisk.BayesPEM)
export(rrisk.BayesZIP)
export(rrisk.samplesBgr)
export(ZIPGUI)
exportClasses(bayesmodelClass)
exportMethods(show)
importFrom(methods,show)
